<?xml version="1.0" encoding="UTF-8" ?>
<server description="Portal Apoio Staging">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>bells-1.0</feature>
        <feature>microProfile-6.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <!-- Configuração HTTP -->
    <variable name="http.port" defaultValue="9080" />
    <variable name="https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${http.port}"
                  httpsPort="${https.port}" id="defaultHttpEndpoint" />

    <!--
    <library id="h2">
        <fileset dir="${server.config.dir}/h2/" includes="*.jar" />
    </library>
    -->

    <library id="derby">
        <fileset dir="${server.config.dir}/derby/" includes="*.jar" />
    </library>


    <!-- Configuração datasources -->
    <library id="postgresql">
        <fileset dir="postgresql" includes="*.jar" />
    </library>

    <!--
    <dataSource jndiName="portalApoioDS">
        <jdbcDriver libraryRef="h2" />
        <properties url="jdbc:h2:~/testdb;DB_CLOSE_DELAY=-1" user="sa" password="sa" /> </dataSource>
    -->

    <!--
    <dataSource id="portalApoioDS" jndiName="portalApoioDS">
        <jdbcDriver libraryRef="derby" />
        <properties.derby.embedded databaseName="DefaultDB" createDatabase="create" />
    </dataSource>
    -->

    <dataSource id="portalApoioDS" jndiName="portalApoioDS">
        <jdbcDriver libraryRef="postgresql" />
        <properties serverName="localhost" portNumber="5432" databaseName="portal_apoio_staging" user="postgres"
                    password="123456" />
    </dataSource>

    <!-- Autenticação -->
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin" />
        <user name="user" password="user" />
    </basicRegistry>

    <applicationMonitor dropinsEnabled="false" />

    <webApplication location="portal-apoio-staging.war" contextRoot="/portal-apoio-staging">
        <application-bnd>
            <security-role name="PESQUISA_ADMIN">
                <user name="admin" />
            </security-role>

            <security-role name="PESQUISA_USUARIO">
                <user name="user" />
            </security-role>
        </application-bnd>
    </webApplication>
</server>
